# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.sqlite3-journal
media/
static/
*.secret_key
*.settings

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db

# Dependency directories
venv/
env/
env36/
env37/
myenv/

# Local development settings
*.env

# Ignore all .env files in the repository
**/.env
